{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <!-- product image slider -->
        <div class="product-slider">
          {{ range .Params.Images }}
            <div data-image="{{ .image | absURL }}">
              <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="Event Photo">
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>

{{ partial "cta4.html" . }}

{{ end }}